@import "maia.css";



@media screen,
projection,
print {
  cite {
    font-style: italic
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400
  }

  #maia-super {
    font-family: "Open Sans", sans-serif;
    font-weight: 400
  }

  #maia-main {
    padding-top: 0
  }

  .maia-button {
    margin-bottom: 10px
  }

  a {
    text-decoration: none
  }

  a:hover {
    color: #39f;
    text-decoration: none
  }

  #billboard {
    color: #999;
    max-width: 978px;
    margin: 18px auto;
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, .03), rgba(0, 0, 0, .03));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .03), rgba(255, 255, 255, .03));
    background-image: linear-gradient(top, rgba(255, 255, 255, .03), rgba(0, 0, 0, .03));
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    border-top: 0;
    -moz-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, .01);
    -webkit-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, .01);
    box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, .01);
    padding: 20px
  }

  #billboard a {
    display: block;
    padding-top: 130px;
    color: #666;
    -moz-transition: all 218ms ease-out;
    -o-transition: all 218ms ease-out;
    -webkit-transition: all 218ms ease-out;
    transition: all 218ms ease-out
  }

  #billboard a:hover {
    color: #39f
  }

  #maia-signature {
    margin-top: 0
  }

  #maia-footer-global {
    clear: both
  }

  #footer-nav {
    margin: 0;
    font-family: "Open Sans""san-selif";
    font-weight: 300
  }

  #footer-nav ul {
    list-style: none;
    margin: 0 0 30px 0;
    padding: 0
  }

  #footer-nav .maia-col-2 {
    margin: 0 .3% 20px;
    width: 19%
  }

  #footer-nav ul li {
    margin: 0;
    padding: 0
  }

  #footer-nav a {
    color: #666;
    line-height: 1.6em
  }

  #footer-nav a:hover {
    color: #39f;
    text-decoration: none
  }

  #footer-platform {
    background-color: #f9f9f9;
    margin: 0 auto;
    padding: 0;
    width: 480px;
    clear: both;
    font-family: "Open Sans", sans-serif;
    font-weight: 400
  }

  #footer-platform ul {
    list-style: none;
    width: 280px;
    margin: 0;
    float: left
  }

  #platform-copy {
    padding-top: 19px;
    float: left;
    font-weight: 400;
    width: 200px
  }

  #footer-platform ul li {
    background-position: 18px center;
    background-repeat: no-repeat;
    display: block;
    float: left;
  }

  #footer-platform a {
    display: block;
    padding: 30px 28px 30px 90px;
    font-weight: 400;
    text-align: left;
    color: #666
  }

  #footer-platform a:hover {
    color: #39f;
    text-decoration: none
  }

  #footer-platform #f-android {
    background-image: url(../images/Android.png)
  }

  #footer-platform #f-android a {
    padding: 30px 10px 30px 65px
  }

  #f-ios {
    background-image: url(../images/ios.png)
  }

  #f-windowsphone {
    background-image: url(../images/windowsphone.png)
  }

  #f-blackberry {
    background-image: url(../images/blackberry.png)
  }

  #f-other a {
    padding: 19px 28px
  }

  .clearfix {
    clear: both
  }
}